.tasks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 40px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.header > div {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header p {
	color: #4ea8de;
	font-size: 14px;
	font-weight: 700;
}

.header span {
	background: #333333;
	color: #d9d9d9;
	padding: 3px 9px;
	border-radius: 999px;
	font-size: 12px;
	font-weight: 700;
}

.checkContainer {
	width: 18px;
	height: 18px;
	background: none;
	border: none;
}

.checkContainer div {
	width: 100%;
	height: 100%;
	border-radius: 999px;
	border: 2px solid #4ea8de;
}

.checkContainer svg {
	width: 100%;
	height: 100%;
	color: #5e60ce;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

