/* Font's */
@font-face {
	font-family: 'Josefin';
	font-weight: 400;
	src: url('../assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Josefin';
	font-weight: 700;
	src: url('../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #191919;
	color: white;
	font-family: 'Josefin';
	font-weight: 700;
}

button {
	cursor: pointer;
}
