.header {
	background-image: url('../../assets/images/bg-desktop-dark.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	position: relative;
}

.title {
	display: flex;
	justify-content: space-between;
	width: 700px;
	padding: 5px;
}

.text {
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
}

.image {
	width: auto;
	height: 30px;
	cursor: pointer;
}

.headerLightMode {
	color: white;
	background-image: url('../../assets/images/bg-desktop-dark.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	position: relative;
}
